* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.icon-placeholder {
    width: 25px;
    height: 25px;
    background-color: #CC0202;
    margin-right: 3%;
}


/* TOP ROW WITH SEARCH BAR  */

.container-top-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    padding: 0 30px;
}

.container-top-row-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 15%;
    margin-left: 25px;
}

.logo-youtube {
    height: 25px;
}

.container-top-row-middle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 2%;
    width: 50%;
}

.container-top-row-middle input {
    width: 400px;
    height: 25px;
}

.icon-placeholder-search {
    width: 50px;
    height: 25px;
    background-color: #CC0202;
}

.container-top-row-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 25px;
    width: 15%;
}

.container-circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: lightgray;
}


/* MAIN PAGE CONTENT */

.container-main {
    display: flex;
    flex-direction: row;
    margin: 0;
}


/* LEFT SIDE NAVIGATION */

.container-left {
    display: flex;
    flex-direction: column;
    padding: 40px 0;
    width: 19%;
}

.container-left-row {
    display: flex;
    flex-direction: row;
    padding: 0 0 0 30px;
    align-items: center;
    margin: 0;
    height: 50px;
}

.horizontal-rule {
    font-size: 2rem;
    width: 100%;
}

.padding-sides-30 {
    padding: 0 30px;
}

.image-circle-small {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 3%;
}

h4 {
    font-weight: 100;
}

/* VIDEOS START HERE */

.container-right {
    padding: 30px 0;
    width: 81%;
    background-color: #F9F9F9;
}

.container-video-whole {
    display: flex;
    flex-direction: column;
    width: 275px;
    height: 275px;
}

.container-video-placeholder {
    width: 100%;
    height: 150px;
    background-color: #CC0202;
}

.container-below-video {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px 0;
}

.container-below-video-logo {
    width: 50px;
}

.image-circle-medium {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: .5px lightgray solid;
}

.container-below-video-text {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.video-title {
    font-weight: bold;
    margin: 0 0 5px 0;
}

.video-info {
    margin: 0 0 2px 0;
}

